body{
    background-color:  #002B36 !important ;
}




.navbar__item-link {
    text-decoration: none; // Evitar subrayado por defecto
    color: #000; // Color de texto por defecto
  
    &:hover {
      text-decoration: underline; // Subrayado al posar el mouse
    }
  }
  

  .navbar__list-item {
    background-color: white;
    border: 1px solid #000; /* Agregar un borde alrededor de cada elemento del menú */
    padding: 5px 10px; /* Agregar espacio alrededor del texto */
    display: inline-block; /* Alinear los elementos en línea */
    border-radius: 5px; /* Redondear los bordes del recuadro */
  }




